# ...

config SYS_CONFIG_NAME
	default "dctab" if TARGET_DCTAB
	default "sun4i" if MACH_SUN4I
	default "sun5i" if MACH_SUN5I
	default "sun6i" if MACH_SUN6I
	default "sun7i" if MACH_SUN7I
	default "sun8i" if MACH_SUN8I
	default "sun9i" if MACH_SUN9I
	default "sun50i" if MACH_SUN50I
	default "sun50i" if MACH_SUN50I_H6

# ...

config TARGET_DCTAB
	bool "DCTAB (A33) board support"
	depends on MACH_SUN8I_A33
	default n

# ...
