/dts-v1/;

#include "sun8i-a33.dtsi"
#include "sun8i-reference-design-tablet.dtsi"

/ {
	model = "DCTAB A33 Tablet";
	compatible = "allwinner,dctab-a33", "allwinner,sun8i-a33";

	wifi_pwrseq: wifi_pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_pwrseq_pin_dctab>;
		reset-gpios = <&r_pio 0 6 GPIO_ACTIVE_LOW>; /* PL6 */
		/* The esp8089 needs 200 ms after driving wifi-en high */
		post-power-on-delay-ms = <200>;
	};

};

&nfc {
/*	status = "okay";*/

	nand@0 {
		reg = <0>;
		allwinner,rb = <0>;

		nand-ecc-mode = "hw";
	};
};

&rtc {
	status = "disabled";
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins_a>;
	vmmc-supply = <&reg_dldo1>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	non-removable;
	status = "okay";

	esp8089: sdio_wifi@1 {
		compatible = "esp,esp8089";
		reg = <1>;
		esp,crystal-26M-en = <2>;
	};
};

&r_pio {
	wifi_pwrseq_pin_dctab: wifi_pwrseq_pin@0 {
		pins = "PL6";
		function = "gpio_out";
	};
};

&touchscreen {
	compatible = "silead,gsl1680";
	reg = <0x40>;
	firmware-name = "gslX680new-m86hd.fw";
	touchscreen-size-x = <960>;
	touchscreen-size-y = <640>;
	touchscreen-inverted-x;
	touchscreen-inverted-y;
	vddio-supply = <&reg_ldo_io1>;
	status = "okay";
};

&i2c1 {
	ds3231: ds3231@68 {
		compatible = "maxim,ds3231";
		reg = <0x68>;
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins_a>;
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
};

