CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_SPL=y

CONFIG_MACH_SUN8I_A33=y
CONFIG_DRAM_CLK=456
CONFIG_DRAM_ZQ=15291
CONFIG_MMC0_CD_PIN="PB4"
CONFIG_USB0_VBUS_PIN="AXP0-VBUS-ENABLE"
CONFIG_USB0_VBUS_DET="AXP0-VBUS-DETECT"
CONFIG_USB0_ID_DET="PH8"
CONFIG_AXP_GPIO=y
CONFIG_VIDEO_LCD_MODE="x:1024,y:600,depth:18,pclk_khz:51000,le:159,ri:160,up:22,lo:12,hs:1,vs:1,sync:3,vmode:0"
CONFIG_VIDEO_LCD_DCLK_PHASE=0
CONFIG_VIDEO_LCD_POWER="PH7"
CONFIG_VIDEO_LCD_BL_EN="PH6"
CONFIG_VIDEO_LCD_BL_PWM="PH0"
CONFIG_TARGET_DCTAB=y

# CONFIG_DISTRO_DEFAULTS is not set
CONFIG_NR_DRAM_BANKS=1
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
# CONFIG_FIT is not set

CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="mmc read ${kernel_addr_r} 640  3000; mmc read ${fdt_addr_r} 9F00 40; bootm ${kernel_addr_r} - ${fdt_addr_r}"

# CONFIG_CONSOLE_MUX is not set
# CONFIG_SYS_CONSOLE_IS_IN_ENV is not set



# CONFIG_CMD_BOOTEFI is not set
# CONFIG_CMD_ELF is not set

# CONFIG_CMD_GO is not set
# CONFIG_CMD_RUN is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_EDITENV is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_ENV_EXISTS is not set
# CONFIG_CMD_CRC32 is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_GPT is not set

# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set

# CONFIG_CMD_NET is not set
CONFIG_CMD_BMP=y
# CONFIG_CMD_MISC is not set

# CONFIG_PARTITIONS is not set

CONFIG_DEFAULT_DEVICE_TREE="sun8i-a33-dctab"

# CONFIG_ENV_IS_IN_FAT is not set

# CONFIG_NET is not set

# CONFIG_DM_WARN is not set
# CONFIG_DM_DEVICE_REMOVE is not set
# CONFIG_DM_STDIO is not set

CONFIG_MTD=y
CONFIG_MTD_DEVICE=y
CONFIG_MTD_PARTITIONS=y

CONFIG_NAND=y
CONFIG_SYS_NAND_BLOCK_SIZE=0x400000
CONFIG_SYS_NAND_PAGE_SIZE=0x4000
CONFIG_SYS_NAND_OOBSIZE=0x500

# CONFIG_NETDEVICES is not set

CONFIG_AXP_DLDO1_VOLT=3300

CONFIG_CONS_INDEX=5

# CONFIG_GENERATE_SMBIOS_TABLE is not set
# CONFIG_EFI_LOADER is not set

